# dependence
# regex==2017.01.17
ruamel.yaml~=0.14
# convertdate  # 2.1.1
# dateparser~=0.7
# ephem~=3.7.6.0
# humanize~=0.5
# six~=1.10

# 2 & 3
# http://python-future.org/compatible_idioms.html
future<1

# datetime
maya~=0.6
# pytz~=2016.10

# aio & libs
tornado~=4.5

xxhash~=1.3
